.loading {
  /* Color pallete 1 */
  --gray: #DBD8E3;
  --purple: #5C5470;
  --purple-dark: #352F44;
  --purple-darker: #2A2438;
  --black: #272525;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--purple-darker);
  color: var(--gray);
  font-size: 7em;
}

.contenedor {
  /* Color pallete 1 */
  --gray: #DBD8E3;
  --purple: #5C5470;
  --purple-dark: #352F44;
  --purple-darker: #2A2438;
  --black: #272525;
  display: flex;
  flex-direction: column;
  background-color: var(--purple-darker);
  color: var(--gray);
  padding: 0 50px 0 50px;
}

.tableHeader {
  background-color: var(--black);
  color: var(--gray);
}

.tableHeader .columna {
  color: var(--gray);
}

.fila {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.fila:nth-child(even) {
  background-color: var(--purple-dark);
}

.columna {
  flex: 1;
}

.columna:hover {
  background-color: var(--purple);
}


